source https://api.nuget.org/v3/index.json
framework: net472

nuget FSharp.Core ~> 4.0
nuget MBrace.Core ~> 1.5.0
nuget MBrace.Runtime ~> 1.5.0
nuget MBrace.Flow ~> 1.5.0
nuget MBrace.CSharp ~> 1.5.0 prerelease
nuget WindowsAzure.ServiceBus ~> 3.0
nuget WindowsAzure.Storage ~> 7.0
nuget Argu ~> 3.2
nuget FsPickler ~> 4.5.0
nuget Vagabond ~> 0.15.0
nuget Microsoft.WindowsAzure.Management.Libraries
nuget Microsoft.WindowsAzure.Management.ServiceBus prerelease
nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Microsoft.Bcl.Async ~> 1.0
nuget System.Reflection.Metadata
nuget System.Runtime.Loader
github isaacabraham/azure-fsharp-helpers src/configuration.fs

group Test
  source https://api.nuget.org/v3/index.json
  framework: net472

  nuget FsCheck
  nuget FSharp.Core
  nuget MBrace.Tests
  nuget NUnit ~> 2.6.4
  nuget NUnit.Runners ~> 2.6.4
  nuget FSharp.Compiler.Service ~> 16.0
  nuget MathNet.Numerics ~> 3.7.0
  nuget MathNet.Numerics.FSharp ~> 3.7.0
  nuget MathNet.Numerics.MKL.Win-x64 ~> 1.8.0


group Build
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget Fake.Core.UserInput	    ~> 5.19.0
  nuget Fake.Core.ReleaseNotes  ~> 5.19.0
  nuget Fake.Core.Target        ~> 5.19.0
  nuget Fake.IO.FileSystem      ~> 5.19.0
  nuget Fake.DotNet.Cli         ~> 5.19.0
  nuget Fake.Tools.Git          ~> 5.19.0
  nuget Fake.Api.Github         ~> 5.19.0