<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Specify worker name identifier. : string -->
    <!--<add key="worker id" value="enter a unique worker identifier" />-->
    <!-- Azure Storage connection string. : string -->
    <add key="storage connection string" value="your azure storage connection string" />
    <!-- Azure ServiceBus connection string. : string -->
    <add key="service bus connection string" value="your azure service bus connection string" />
    <!-- Specify maximum number of concurrent work items. : int -->
    <!--<add key="max work items" value="20" />-->
    <!-- Specify the heartbeat interval for the worker in seconds. Defaults to 1 second. : float -->
    <add key="heartbeat interval" value="1" />
    <!-- Specify the heartbeat interval for the worker in seconds. Defaults to 300 seconds. : float -->
    <add key="heartbeat threshold" value="300" />
    <!-- Specify the working directory for the worker. : string -->
    <!--<add key="working directory" value="enter a local working directory" />-->
    <!-- Log level for worker system logs. Critical, Error, Warning, Info, Debug. Defaults to Info. -->
    <add key="log level" value="info" />
    <!-- Specify a log file to write worker system logs. : string -->
    <add key="log file" value="logs.txt" />
  </appSettings>
</configuration>